<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>item-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
      <ion-toolbar slot="fixed" class="ion-no-border">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home" color="dark">
          </ion-back-button>
        </ion-buttons>
          
      </ion-toolbar>
      
  </ion-header>
  <div [style.backgroundImage]="'url(' + item?.cover +')'" class="bg">
    <div class="rating">
      <ion-icon name="star" color="warning"></ion-icon>
      {{ item?.rating }}
    </div>
  </div>

  <ion-item>
    <ion-label>
      {{item?.name}}
      <p class="desc">{{item?.description}}</p>

      <p>
        <ion-text color="dark">€</ion-text>
        <ion-text color="dark" class="price">
          <span>{{ item?.price}}</span>
        </ion-text>
      </p>
    </ion-label>
  </ion-item>

</ion-content>
