<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Product</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="large" color="light" [routerLink]="['/', 'home', 'gifts', item?.id, 'cart']">
        <ion-icon name="bag-handle" slot="icon-only"></ion-icon>
        <ion-badge *ngIf="totalItems > 0" color="primary">
          <ion-text>{{ totalItems }}</ion-text>
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div [style.backgroundImage]="'url(' + item?.image +')'" class="bg">
    <div class="rating">
      <ion-icon name="star" color="warning"></ion-icon>
      {{ item?.rating?.rate }}
    </div>
  </div>

  <ion-item>
    <ion-label>
      {{ item?.title }}
      <p class="desc">{{ item?.description }}</p>
      <p>
        <ion-text color="light">
          <strong>{{ currency === 'EUR' ? '€' : '£' }}{{ item?.price }}</strong>
        </ion-text>
      </p>
    </ion-label>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      size="large"
      expand="block"
      [color]="addToBag ? 'success' : 'primary'"
      (click)="addItem()">
      <ion-icon 
        slot="start" 
        [name]="addToBag ? 'bag-handle' : 'bag-handle-outline'">
      </ion-icon>
      <ion-text>
        {{ addToBag ? addToBag : 'Add To Bag' }}
      </ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>
