<!-- Cart Page Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Your Cart</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Main Content Section -->
<ion-content>

  <!-- Cart Items List -->
  <ion-list *ngIf="cartItems.length > 0; else emptyCart">
    <ion-item *ngFor="let item of cartItems">
      <ion-label>
        <h2>{{ item.title }}</h2>
        <p>Price: €{{ item.price }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Empty Cart Message -->
  <ng-template #emptyCart>
    <ion-text color="medium" class="ion-text-center">
      <p>Your cart is empty.</p>
    </ion-text>
  </ng-template>

</ion-content>

<!-- Footer Section with Clear Cart Button -->
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="danger" (click)="clearCart()">
      <!-- Clear Cart  -->
       <ion-text>Clear cart</ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>
