:root {
	/* Background Colors */
	--ion-background-color: #121212;
	--ion-background-color-rgb: 18, 18, 18;
  
	--ion-card-background: #1E1E1E;
	--ion-toolbar-background: #1E1E1E;
	--ion-item-background: #1E1E1E;
  
	/* Text Colors */
	--ion-text-color: #E0E0E0;
	--ion-text-color-rgb: 224, 224, 224;
  
	/* Accent / Primary Colors */
	--ion-color-primary: #9d60e8; /* Soft Purple */
	--ion-color-primary-rgb: 187, 134, 252;
  
	--ion-color-secondary: #03DAC6; /* Cyan Blue */
	--ion-color-secondary-rgb: 3, 218, 198;
  
	--ion-color-tertiary: #CF6679; /* Soft Red */
	--ion-color-tertiary-rgb: 207, 102, 121;
  
	/* Button Colors */
	--ion-color-success: #4CAF50; /* Green */
	--ion-color-warning: #FFC107; /* Amber Yellow */
	--ion-color-danger: #CF6679; /* Soft Red */
  }
  