<ion-header>
  <ion-toolbar>
    <ion-title>
      Gift Shop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button fill="clear" [routerLink]="['/', 'home', 'cart']">
      <ion-icon name="bag-handle"></ion-icon>
      <ion-badge *ngIf="totalItems > 0" color="primary">
        <ion-text>{{ totalItems }}</ion-text>
      </ion-badge>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-toolbar>
  <ion-searchbar
    debounce="850"
    #searchInput
    class="srchBar"
    placeholder="Know what you want?"
    (ionInput)="onSearchChange($event)">
  </ion-searchbar>
</ion-toolbar>

<ion-card-header>
  <ion-card-title>Location & Currency</ion-card-title>
</ion-card-header>
<ion-card-content>
  <ion-button (click)="getGPSAndSetCurrency()">Set Currency with GPS</ion-button>
  <!-- <p>Latitude: {{ lat }}</p>
  <p>Longitude: {{ long }}</p> -->
  <p>Currency: <strong>{{ currency }}</strong></p>
</ion-card-content>

<ion-content>

  <ion-row>
    
    <ion-col *ngFor="let item of items; let i = index" size="6" size-md="4" size-lg="3" size-xl="3">
      <ion-card [routerLink]="['/home/gifts', item?.id]">
        <ion-thumbnail>
          <ion-img [src]="item?.image"></ion-img>
        </ion-thumbnail>

        <ion-label>
          <ion-text color="dark"><strong>{{ item?.title }}</strong></ion-text>
          <p>
            <ion-text color="dark">
              <strong>{{ currency === 'EUR' ? '€' : '£' }}{{ item?.price }}</strong>
            </ion-text>

            <ion-text class="rating" color="dark">
              {{ item?.rating?.rate }}
              <ion-icon name="star" color="warning"></ion-icon>
            </ion-text>
          </p>
        </ion-label>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>