<ion-header>
  <ion-toolbar>
    <ion-title>
      Gift Shop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-buttons slot="end">
  <ion-button fill="clear">
    <ion-icon name="bag-handle"></ion-icon>
    @if(totalItems > 0 ) {
      <ion-badge color="primary">
        <ion-text>{{ totalItems }}</ion-text>
      </ion-badge>
    }
  </ion-button>
</ion-buttons>

<ion-toolbar>
  <ion-searchbar
    debounce="850"
    #searchInput
    mode="ios"
    class="srchBar"
    placeholder="Know what you want?"
    (ionInput)="onSearchChange($event)">
    
  </ion-searchbar>
</ion-toolbar>

<ion-card-header>
  <ion-card-title>Location & Currency</ion-card-title>
</ion-card-header>
<ion-card-content>
  <ion-button (click)="getGPSAndSetCurrency()">Get Location & Currency</ion-button>
  <p>Latitude: {{ lat }}</p>
  <p>Longitude: {{ long }}</p>
  <p>Currency: <strong>{{ currency }}</strong></p>
</ion-card-content>

<ion-content>

  <ion-row>
    @for(item of items; track i; let i=$index) {
      <ion-col sizeLo="3" sizeMd="4" sizeSm="6" sizeXL="3" sizeXs="6">
        <!-- Will navigate to the item detail page with the dynamic Item ID -->
        <ion-card [routerLink]="['/', 'home', 'gifts', item?.id]">
          <ion-thumbnail>
            <ion-img [src]="item?.image"></ion-img>
          </ion-thumbnail>

          <ion-label>
            <ion-text color="dark"><strong>{{item?.name}}</strong></ion-text>
            <p>

              <ion-text color="dark"><strong>{{item?.price}}</strong></ion-text>


              <ion-text class="rating" color="dark">
                {{item?.rating?.rate}}
                <ion-icon name="star" color="yello"></ion-icon>
              </ion-text>
            </p>
          </ion-label>
        </ion-card>
      </ion-col>
    }
  </ion-row>

 
</ion-content>
