ion-card {
    --background: var(--ion-color-light);
    height: 14rem;
    margin: 0.3rem 0;
    border-radius: 8px;

}

ion-thumbnail {
    width: 100%;
    height: 10rem;
    margin-bottom: 10px;
}

ion-img {
    height: 100%;
    border-radius: 8px;

}

ion-label {
    font-size: 0.9rem;
}

ion-label, p {
    margin: 0 5px;
}

